.UrlShortner {
  font-family: Calibri;
  top: 24px;
  left: 880px;
  position: absolute;
  height: 27px;
  width: 131px;
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
}

.Rect4Stack {
  width: 551px;
  height: 117px;
  position: relative;
}

.DscTiet {
  font-family: Calibri;
  font-style: normal;
  font-weight: bold;
  height: 33px;
  width: 120px;
  font-size: 24px;
}

.logo {
  width: 100%;
  height: 38px;
  object-fit: contain;
}

.ImageRow {
  flex-direction: row;
  display: flex;
}

.PoweredByDscTiet {
  font-family: Roboto;
  font-style: normal;
  font-weight: regular;
  height: 25px;
  width: 289px;
}
.Image {
  width: 80%;
  height: 200px;
  background-size: cover;
  color: black;
  background-image: linear-gradient(to bottom left, #b6b4c2, #aac9ce);
}
